

.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  /* background: #f4f4f4; */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar.open {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.toggle-btn, .add-field-btn {
  margin: 10px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-field-btn {
  /* background: #28a745; */
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  font-weight: 700;
  font-size: .75rem;
  line-height: 1rem;
  /* border: #007bff; */
  border-style: solid;
  border-width: 1px;
  border-color: rgb(228 228 231);
  padding-left:1rem ;
  padding-right: 1rem;
  border-radius: 8px;
  padding-top: .3rem;
  padding-bottom: 0.3rem;
  margin-left: 0rem;
}

.add-field-btn:hover {
  background: #f7f5f5;
  /* color: white; */
}

.sidebar-items {
  list-style: none;
  padding: 0;
}

.sidebar-items li {
  padding: 10px;
  cursor: pointer;
  background-color:rgb(215, 215, 215);
  border-radius: 8px;
  /* align-items: center */
  text-align: center;
  font-size: .75rem;
  line-height: 1rem;
  margin-bottom: .7rem;

}

.sidebar-items li:hover {
  background: #e9ecef;
}

.field-content {
  flex: 1;
  padding: 20px;
  background-color: black;
  color: white;
  overflow-y: auto;
}

.cube-icon {
  /* margin-right: 8px; Space between icon and text */
  /* font-size: 1.5rem; Adjust icon size */
  color: #6f6f6f; /* Set the icon color */
  font-weight: 500;
  font-size: .75rem;
  line-height: 1rem;
}
