.main-content {
  display: flex;             /* Enables Flexbox */
  flex-direction: column;     /* Align items in a column */
  align-items: center;        /* Horizontally center the content */
  justify-content: center;    /* Vertically center the content */
  flex: 1;
  padding: 20px;
  margin-left: 300px;
  background-color: white;
  width: 70%;
  height: 94.3vh;         
}

.main-content
.form-group {
  width: 100%;               /* Ensure the form elements stretch horizontally */
  /* max-width: 600px;           Set a max width to prevent them from becoming too wide */
  margin-bottom: 20px;
}

.main-content
.form-group label {
  display: none;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;         /* Aligns label text in the center */
}

.main-content
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-style: none;
}


.main-content
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-style: none;
}

.main-content
/* Adjust button styles */
.save-btn,
.discard-btn {
  width: 100%;               /* Make buttons full-width */
  max-width: 200px;           /* Set a max width for buttons */
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.main-content
.save-btn {
  background-color: #28a745;
}

.main-content
.discard-btn {
  background-color: #dc3545;
}

.main-content
#title {
  /* font-weight: bold; */
  font-size: 38px;
  overflow-y: hidden;
  resize: none;
  height: 61.6px;
  min-height: 61.6px;
  max-height: 301.6px;
  font-weight: 700;
}

.main-content
#description{
  font-size: 1.75rem;
  overflow-y: hidden;
  resize: none;
  height: 40.6px;
  min-height: 40.6px;
  max-height: 196.6px;
}

.main-content
#email {
  border-radius: 0px;
  border: none;               /* Remove all borders */
  border-bottom: 2px solid;    /* Apply only the bottom border */
  margin: 0;
  width: 50%;
  margin-right: 5rem;
}


.main-content
.content-container {
  display: flex;
  justify-content: space-between; /* Space between text and image */
  align-items: center;            /* Center content vertically */
  width: 100%;
}

/* Image styling */
.main-content
.uploaded-image {
  width: 300px;           /* Set a fixed width */
  height: auto;           /* Maintain aspect ratio */
  margin-left: 80px;      /* Add some space between the content and image */
  align-items: center;
}

.main-content
.submitbtn{
  width: 100%;               /* Make buttons full-width */
  max-width: 200px;           /* Set a max width for buttons */
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: rgb(19, 17, 17);
  cursor: pointer;
  background-color: #bac1c7;
  font-weight: 700;
}

.main-content
.submitbtn:hover{
  background-color: #a5b1b8;
}